@charset "UTF-8";
body, h1, h2, h3, h4, h5, p, ul, li, dl, dt, dd { margin: 0; padding: 0; }

body {padding: 50px; font-family: 'Microsoft YaHei'; }

a { text-decoration: none; outline: 0; }

a, img { -webkit-touch-callout: none; }

li { list-style: none; }

img { display: block; border: 0 none; max-width: 100%; user-select: none; }

input, button { -webkit-appearance: none; }

.box{
    margin: 20px auto;
    padding:20px;
    border: 2px #ccc dashed;
}